

body{
    font-family: Arial, Helvetica, sans-serif;  
    background-color: white;  
 }
 
 .header ul{
     list-style-type: none;
     display: flex;
     gap: 40%;
     background-color: rgb(0,71,171);
     color: white;
     margin: 10px -10px;
     padding: 10px 100px;
 }
 
 .header a{
     color: white;
     cursor: pointer;
 }
 .header a:hover{
     color: rgb(80,255,0);
 }
 
 p{
  font-weight: 500;
  margin-bottom: -10px;
 }
 .contacts{
     font-weight: 500; 
 }
 #copyright{
     color: rgb(0,71,171);
 
 }